.background {
    height: 100px;
    background-image: url(img/pattern.png);
    background-color: #4ea0fd;
}

#logo {
    border-top: 100px;
    border-left: 50px;
    width: 200px;
}

.sottotitolo {
    color: grey;
}

#the-booleaner {
    display: inline;
    color: rgb(0, 179, 255);
}

h4 {
    font-weight: lighter;
    margin: 0;
}

.paragrafo-1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

